stages:
  - build
  - test
  - deploy

variables:
  IMAGE_NAME: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}"   # тег по ветке

build:
  stage: build
  image: docker:24.0
  services:
    - docker:24.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_NAME .
    - docker push $IMAGE_NAME

jmeter-test:
  stage: test
  image: justb4/jmeter:5.6.3   # свежий JMeter в Docker
  script:
    - jmeter -n -t mock_test.jmx -l results.jtl -Jusers=users.csv   # адаптируй параметры JMeter
  artifacts:
    paths:
      - results.jtl
    when: always
  allow_failure: true   # пока тест не критичен

deploy-local:
  stage: deploy
  image: docker:24.0
  services:
    - docker:24.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $IMAGE_NAME
    - docker-compose -f docker-compose.yml up -d   # если есть compose
  when: manual   # запуск вручную, чтобы не деплоить каждый раз