stages:
  - build

maven-build:
  image: maven:3.9-eclipse-temurin-17
  stage: build
  script:
    - mvn clean package
  artifacts:
    paths:
      - target/*.jar

docker-build:
  image: docker:24.0-cli
  services:
    - docker:24.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  stage: build
  needs: ["maven-build"]
  script:
    - docker build -t mock-service:latest .