stages:
  - build

docker-build:
  stage: build
  image: docker:24.0-cli
  services:
    - docker:24.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker info
    - docker build -t my-app:latest .